<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    <!-- Navbar -->
    
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main-content">
                    <form class="temp_form">
                        <input type="text" id="cityname" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="search" id="submitbtn">
                    </form>
                </div>
                <div class="tempInfo">
                    <div class="top_layer">
                        <p id="day">Monday</p>
                        <p id="today_date">02 Dec</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get Output Here</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                            <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
            </div>  
        </div>  
    </div>  


    <!-- footer -->
    {{>footer}}
    <script src="js/main.js">    </script>
    <script>

        

         {{!-- const getCurrentDay = ()=> {
            var weekday = new Array(7);
            weekday[0] = "SUN";
            weekday[1] = "MON";
            weekday[2] = "TUE";
            weekday[3] = "WED";
            weekday[4] = "THU";
            weekday[5] = "FRI";
            weekday[6] = "SAT";


            let currentTime = new Date();
            const days = document.getElementById('day');
            let day = weekday[currentTime.getDay()];

            day.innerText = days;
        }; --}}
        {{!-- getCurrentDay(); --}}


{{!-- CODE FOR DYMANIC DATE AND DAY --}}
        const getCurrentDayAndDate = () => {
            const weekday = ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"];
            const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

            let currentTime = new Date();
            let day = weekday[currentTime.getDay()];
            let date = currentTime.getDate();
            let month = months[currentTime.getMonth()];

            document.getElementById('day').innerText = day;
            document.getElementById('today_date').innerText = `${date} ${month}`;
        };

        document.addEventListener("DOMContentLoaded", getCurrentDayAndDate);
    </script>
</body>
</html>
